.navbar {
    color: white;
}

.nav-item {
    /* text-shadow: grey 0.1em 0.1em 0.2em; */
    color: bisque !important;
}

.nav-link {
    /* text-shadow: black 0.1em 0.1em 0.2em; */
    color: bisque !important;
}

.nav-text {
    color:black !important;
}

.create-link { 
    /* text-shadow: black 0.1em 0.1em 0.2em; */
}