<div class="modal-header">
  <h4 class="modal-title">{{parent.post.title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <h4>Description</h4>
  <p>{{parent.post.description}}</p>
  <h4>Preview webpage</h4>
  <img class="border border-primary" src="{{parent.post.previewImgUrl}}" alt="{{parent.post.previewImgUrl}}">
  <div class="row">
    <div class="col-md-4">
      <h6 class="text-secondary"> {{ parent.post.createdAt | date : "short" }} </h6>
    </div>
    <div class="col-md-5 ml-auto">

      <button class="btn btn-link text-secondary" title="Like this post!" *ngIf="!parent.post.likeId" (click)="parent.markLiked()">
        <p class="">
          {{parent.post.likesCount}}
          <i class="fa fa-thumbs-up"> </i>
        </p>
      </button>
      <button class="btn btn-link text-primary" title="Unlike this post!" *ngIf="parent.post.likeId" (click)="parent.unmarkLiked()">
        <p class="">
          {{parent.post.likesCount}}
          <i class="fa fa-thumbs-up"> </i>
        </p>
      </button>
      <button class="btn btn-link" title="Mark this post as favorite!" *ngIf="!parent.post.favoriteId" (click)="parent.markFavorite()">
        <p class="text-secondary">
          <i class="fa fa-star"></i>
        </p>
      </button>
      <button class="btn btn-link" title="Unmark this post as favorite!" *ngIf="parent.post.favoriteId" (click)="parent.unmarkFavorite()">
        <p class="text-primary">
          <i class="fa fa-star"></i>
        </p>
      </button>
      <a href="{{parent.post.url}}" target="_blank" class="btn btn-link" title="Explore">
        <p class="text-primary">
          <i class="fa fa-link text-primary"></i>
        </p>
      </a>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>