<ngb-carousel>
    <ng-template ngbSlide>
        <div class="slideshow">
            <img src="../../../assets/images/home-carousel/discover.jpeg" alt="Discover amazing interests">
        </div>
        <div class="carousel-caption">
            <h3>Discover</h3>
            <p>things that interest you</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="slideshow">
            <img src="../../../assets/images/home-carousel/share.jpeg" alt="Share great articles with fantastic people around the world">
        </div>
        <div class="carousel-caption">
            <h3>Share</h3>
            <p>great articles with fantastic people around the world</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="slideshow">
            <img src="../../../assets/images/home-carousel/interest.jpeg" alt="See your interests">
        </div>
        <div class="carousel-caption">
            <h3>Interests</h3>
            <p>are what makes you stay focused</p>
        </div>
    </ng-template>
</ngb-carousel>
<div class="site-logo text-center my-2">
    <h1>Dist</h1>
    <button class="btn btn-outline-primary" routerLink="/posts">Get started</button>
</div>